I am new to C# and .NET. I am trying to learn how to use it to build a web application with API + Kafka producer and consumer.

I am using the latest version of .NET 9.0.

I am using the latest version of VS Code

There is an api, with a producer service, and a consumer service that runs separately.


